---
layout: default
---

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md- text-center">
        <h1 class="hero-title">Divisions.</h2>
        <h2 class="hero-subtitle">Each division has its own identity, <br>its own market, its own offers and customers.</h2>
      </div>
    </div>
  </div>
</section>


<section class="adn-bu">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 bu text-center">
        <div class="bu-circle circle-mcs">
          <div class="bu-circle-inner">
            <div class="bu-circle-wrapper">
              <div class="bu-circle-content">
                <img class="img-responsive bu-img img-center" src="https://s3-eu-west-1.amazonaws.com/assetstelecomdesign/img/mcs360-logo%402x.png" alt="Logo of MCS360">
              </div>
            </div>
          </div>
        </div>
        <h2 class="bu-header mcs-color">Security</h2>
        <h3 class="bu-subheader mcs-color">100% Sigfox certified system with sensors and applications</h3>
          <a target=_blank href="http://www.mcs360.fr" class="btn btn-l btn-mcs" type="button">Learn more</a>
        </div>
        <div class="col-sm-4 col-md-4 bu text-center">
          <div class="bu-circle circle-tdnext">
            <div class="bu-circle-inner">
              <div class="bu-circle-wrapper">
                <div class="bu-circle-content">
                  <img class="img-responsive bu-img img-center" src="https://s3-eu-west-1.amazonaws.com/assetstelecomdesign/img/tdnext-logo%402x.png" alt="Logo of TD next">
                </div>
              </div>
            </div>
          </div>
          <h2 class="bu-header tdnext-color">Technology</h2>
          <h3 class="bu-subheader tdnext-color">Sigfox RF modules, camera modules, Cloud-on-Chip<sup>TM</sup></h3>
            <a target=_blank href="http://www.td-next.com" class="btn btn-l btn-tdnext" type="button">Learn more</a>
          </div>
          <div class="col-sm-4 col-md-4 bu text-center">
            <div class="bu-circle circle-vitalbase">
              <div class="bu-circle-inner">
                <div class="bu-circle-wrapper">
                  <div class="bu-circle-content">
                    <img class="img-responsive bu-img img-center" src="https://s3-eu-west-1.amazonaws.com/assetstelecomdesign/img/vitalbase-logo%402x.png" alt="Logo of Vitalbase">
                  </div>
                </div>
              </div>
            </div>
            <h2 class="bu-header vitalbase-color">Health</h2>
            <h3 class="bu-subheader vitalbase-color">Automatic fall detector & healthcare solutions</h3>
              <a target=_blank href="http://www.vitalbase.fr" class="btn btn-l btn-vitalbase" type="button">Learn more</a>
            </div>
          </div>
        </div>
      </section>
      <!--
      <section class="bu">
      <div class="container">
      <div class="row">
      <div class="col-md-4 text-center">
      <div class="bu-header">
      <h2 class="bu-title">Technology</h2>
      <p class="text-muted"><em>Sigfox RF modules, Cloud On Chip technology<sup>TM</sup>...</em></p>
    </div>
    <a target=_blank href="http://www.td-next.com"><img class="img-responsive img-bu" src="{{site.url}}/img/tdnext-logo.png"></a>
    <button class="button-o-grey" type="button" data-toggle="modal" data-target="#tdnext">Learn more</button>

  </div>
  <div class="col-md-4 text-center">
  <div class="bu-header">
  <h2 class="bu-title">Security & wellness</h2>
  <p class="text-muted"><em>System with various sensors and applications</em></p>
</div>
<a target=_blank href="http://www.mcs360.fr"><img class="img-responsive img-bu" src="{{site.url}}/img/mcs360-logo.png"></a>
<button class="button-o-grey" type="button" data-toggle="modal" data-target="#mcs360">Learn more</button>


</div>
<div class="col-md-4 text-center">
<div class="bu-header">
<h2 class="bu-title">Health</h2>
<p class="text-muted"><em>Automatic fall detector & healthcare solutions</em></p>
</div>
<a target=_blank href="http://www.vitalbase.fr"><img class="img-responsive img-bu" src="{{site.url}}/img/vitalbase-logo.png"></a>
<button class="button-o-grey" type="button" data-toggle="modal" data-target="#vitalbase">Learn more</button>

</div>
</div>
</div>
</section>
-->

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <h3 class="about-title">About Telecom Design</h3>
          <p class="about-description">Telecom Design is a subsidiary of INS Group. Some other successful innovative projects (Atlantic Network Systems, Kirrio, Homerider Systems…) were developped within INS Group since its creation in 1996.</p>
<p class="about-description">Since 2010, the board has been fully focusing on Telecom Design - taking advantage of the cutting-edge expertise in Machine to Machine field acquired during those 15 years of experience - to overcome new challenges.</p>
<p class="about-description">Nowadays, the main goal of Telecom Design is to strengthen its leadership in the worldwild Internet of Things ecosystem, offering innovative products and solutions for all sort of businesses.
In order to improve the readability of its global strategy, the board of Telecom Design decided in 2015 to split the company into 3 different divisions (Business Units), which have their own identity, their own markets, their own offers and their own customers.</p>
          </div>
          <div class="col-md-4 col-md-offset-2">
            <h3 class="about-title">Contact</h3>
            <address>
              <strong>Telecom Design</strong><br>
              Zone Actipolis II,<br>
              2, bis rue Nully de Harcourt<br>
              33 610 Canéjan (FRANCE)
            </address>
            <address>
              (+33) 5 57 35 63 70<br>
              contact@telecomdesign.fr
            </address>
          </div>
        </div>
      </div>
    </div>
  </section>



  {% include modal-tdnext.html %}
  {% include modal-mcs360.html %}
  {% include modal-vitalbase.html %}
