<div class="modal fade" id="mcs360" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a href="#" class="modal-title"><img src="{{site.url}}/img/mcs360-logo.png"></a>
      </div>
      <div class="modal-body">
        <p>MCS360 provides the 1<sup>st</sup> Sigfox certified security system. It is a self-protection system to keep an eye over your assets and relatives.</p>
        <dl>
          <dt>Core products</dt>
          <dd>A set of protection and wellness sensors (smoke sensors, motion sensors, doorswitchs...). Mobile applications are available to manage your system.</dd>
        </dl>
        <dl>
          <dt>Strategic partners/customers</dt>
          <dd>Banks, insurances...</dd>
        </dl>
      </div>
      <div class="modal-footer">
        <a href="http://www.mcs360.fr" class="btn btn-m btn-mcs" role="button">Website</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--<h4>Product entity</h4>-->
<!--<p>MCS360 provides the 1<sup>st</sup> Sigfox certified security system. It is a self-protection system to keep an eye over your assets and relatives.</p>
<p>Core products:a set of protection and well-being sensors (smoke sensors, motion sensors, doorswitchs...). Mobile applications are available to manage your system.</p>-->
