<div class="modal fade" id="tdnext" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a href="#" class="modal-title"><img src="{{site.url}}/img/tdnext-logo.png"></a>
      </div>
      <div class="modal-body">
        <p>TD next provides innovative solutions for Internet of Things to all sorts of businesses.</p>
        <dl>
          <dt>Skills</dt>
          <dd>Electronic designs, RF designs, telecom protocols, certifications, sensors, wireless technologies, cloud computing.</dd>
        </dl>
        <dl>
          <dt>Core products</dt>
          <dd>TD Sigfox RF modules, Cloud On Chip<sup>TM</sup> technology, camera modules.</dd>
        </dl>
        <dl>
          <dt>Strategic partners</dt>
          <dd>Sigfox, Avnet Memec</dd>
        </dl>
      </div>
      <div class="modal-footer">
        <a href="http://www.td-next.com"  class="btn btn-m btn-tdnext" role="button">Website</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
